@font-face {
  font-family: 'open_sans';
  src: url('../../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: 300;

}
@font-face {
  font-family: 'roboto';
  src: url('../../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: 300;

}
@font-face {
  font-family: 'roboto';
  src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'roboto';
  src: url('../../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: 700;

}
@font-face {
  font-family: 'open_sans';
  src: url('../../fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
       url('../../fonts/opensans-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;

}