.form__btn-submit {
  margin-top: 14px;
}

.form__btn-item {
  padding: 17px 19px 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  letter-spacing: 1px;
  background-color: #1c1f1d;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.form__btn-item:hover {
  background-color: #f89513;
  
}

.form__radio-trigger {
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
}

.form__radio-trigger:last-child {
  margin-right: 0;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.form__btn-radio {
  margin-left: 2px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s;
}

.form__btn-radio-title {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}

input[type="radio"]:checked + .form__btn-radio {
  border-color: #f89513;
}

input[type="radio"]:checked + .form__btn-radio:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  background: #f89513;
  border-radius: 50%;
}